.matrix {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 5px;
  }
  
  .box {
    width: 200px;
    height: 200px;
    background-color: lightgray;
    border: 2px solid #000;
    cursor: pointer;
  }
  